.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*list-style: none;*/
  justify-content: space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.name{
  align-self: flex-start;
}

.slogan{
  align-self: flex-end;
}

.about-me{
  padding: 7em;
  font-size: 2em;
  justify-content: flex-start;
  text-align: left;
}

.subtext{
  font-size: 50%;

}

.item{
  padding: 7em;
  height: 50px;
  margin: 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

