.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.name{
  align-self: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.slogan{
  align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.about-me{
  padding: 7em;
  font-size: 2em;
  justify-content: flex-start;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.description-text {
  padding: 7em;
  /*font-size: 2em;*/
  justify-content: flex-start;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.subtext{
  font-size: 50%;
}

.header{
  /*align-self: flex-start;*/
}

.item{
  padding: 7em;
  /*height: 100%;*/
  /*height: 50px;*/
  margin: 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

